<!DOCTYPE html>
<html lang="pt-BR">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Hubber</title>

    <link rel="stylesheet" href="css/reset.css">
    <link rel="stylesheet" href="css/style.css">

    <link rel="shortcut icon" href="imgs/icon.ico" type="image/x-icon">

</head>

<body>
    <main class="index-main">
        <img src="imgs/index-img.png" class="index-img" alt="proojetos desenhando cara usando notebook ">
        <div class="index-container">
            <div class="index-text">
                <img src="imgs/Logo.png" class="index-logo" alt="logo hubber gradiente azul">
                <h1 class="index-h1">Bem vindo ao Hubber</h1>
                <h2 class="index-h2">Criando visibilidade para grandes sonhos</h2>
            </div>
    
            <a class="btn btn-index" href="/feed">Entrar</a> 

        </div>
    </main>

</body>

</html>
