<!DOCTYPE html>
<html lang="pt-BR">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <link rel="stylesheet" href="css/reset.css">
    <link rel="stylesheet" href="css/style.css">

    <script type="module" src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"></script>
    <script nomodule src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js"></script>
    <link rel="shortcut icon" href="imgs/icon.ico" type="image/x-icon">


</head>

<header class="header-profile">
    <div class="header-nav">
        <a href="/feed">
            <ion-icon name="home-outline"></ion-icon>
        </a>
        <a href="/posting">
            <ion-icon name="add-outline"></ion-icon>
        </a>
        <a href="/login">
            <ion-icon class="active" name="person-outline"></ion-icon>
        </a>
    </div>
</header>

<body>

    <main class="login-main">
        <img class="login-logo" src="imgs/Logo.png" alt="Logo Hubber gradient ciano azul">
        <form action="/login" method="POST">
            <input type="text" placeholder="Email" class="textbox" name="email" required>
            <input type="password" placeholder="Senha" class="textbox" name="password" required>
            <button class="btn">Entrar</button>
        </form>
        <p>Não possui uma conta? <a href="/signin">Cadastre-se.</a></p>
    </main>


    <footer>
        <div class="footer-nav">
            <a class="footer-a" href="/feed">
                <ion-icon name="home-outline"></ion-icon>
            </a>
            <a class="footer-a" href="/posting">
                <ion-icon name="add-outline"></ion-icon>
            </a>
            <a class="footer-a" href="/login">
                <ion-icon class="active" name="person-outline"></ion-icon>
            </a>
        </div>

    </footer>
</body>


</html>